<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Pulley
  </h1>
</div>
<h2>Track price drops for books you wish to read </h2>
<ul class="books">
  <li>
    <div (click)="onHeadingClick('title')">Title</div>
    <div (click)="onHeadingClick('description')">Description</div>
    <div (click)="onHeadingClick('author')">Author</div>
    <div (click)="onHeadingClick('rating')">Rating</div>
    <div (click)="onHeadingClick('dateAdded')">Date Added</div>
  </li>
  <book-list [books]="books">
  </book-list>
</ul>
