<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Pulley
  </h1>
</div>
<h2>Track price drops for books you wish to read </h2>
<ul class="books">
  <li>
    <div *ngFor="let heading of headings; let i=index" (click)="onHeadingClick($event, heading.key1, heading.key2, i)"> 
      {{ heading.title }} {{ heading.isSorted ? "&darr;" : '' }}
    </div>
  </li>
  <book-list [books]="reviews">
  </book-list>
  <app-messages></app-messages>
</ul>
